workflow.json
{
  "nodes": [
    {
      "parameters": {
        "content": "## Configuração",
        "height": 220,
        "width": 170
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -80,
        16
      ],
      "id": "8db761a5-5f2e-4a8f-b34f-a09fdfba32f7",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "TizerpaLife-Formulario",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -48,
        80
      ],
      "id": "678a0803-0c25-49e4-b01d-615ae84b91d5",
      "name": "Webhook",
      "webhookId": "491975ba-0c77-445e-b54c-cf6c648e7b29"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "91ee1ece-f423-45ee-b628-906df8a36da4",
              "name": "telefone_whatsapp",
              "value": "={{ JSON.parse($json.body).telefone_whatsapp.replace(/\\D/g, '') }}",
              "type": "string"
            },
            {
              "id": "dec05903-a892-41ee-a327-8e47b381b2ab",
              "name": "nome",
              "value": "={{ JSON.parse($json.body).nome.trim() }}",
              "type": "string"
            },
            {
              "id": "c9cf7906-e3ac-4e7c-8ce1-3fda63571e07",
              "name": "gestante_lactante",
              "value": "={{ JSON.parse($json.body).gestante_lactante }}",
              "type": "string"
            },
            {
              "id": "b16bae1c-4789-4c31-891f-5186a014ac8f",
              "name": "condicao_medica",
              "value": "={{ JSON.parse($json.body).condicao_medica }}",
              "type": "string"
            },
            {
              "id": "ca379202-76d3-47b8-93dc-1903d053f57f",
              "name": "historico_tireoide",
              "value": "={{ JSON.parse($json.body).historico_tireoide }}",
              "type": "string"
            },
            {
              "id": "b83df04d-f0b6-4444-ae2f-520b45098d3a",
              "name": "uso_anterior_glp1",
              "value": "={{ JSON.parse($json.body).uso_anterior_glp1 }}",
              "type": "string"
            },
            {
              "id": "71643018-61cd-4d29-9393-5ed2737bc37c",
              "name": "dosagem_interesse",
              "value": "={{ JSON.parse($json.body).dosagem_interesse }}",
              "type": "string"
            },
            {
              "id": "938964f1-9775-489f-bfef-eb210b4231f5",
              "name": "observacoes",
              "value": "={{ JSON.parse($json.body).observacoes }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        80
      ],
      "id": "c747b06f-d4f4-4e5d-9fad-802600508954",
      "name": "config"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.clientes (\n    nome,\n    telefone_whatsapp,\n    condicao_medica,\n    gestante_lactante,\n    historico_tireoide,\n    uso_anterior_glp1,\n    status_qualificacao,\n    dosagem_interesse,\n    origem,\n    observacoes,\n    atendido,\n    created_at,\n    updated_at\n) VALUES (\n    $1,\n    $2,\n    $3,\n    $4,\n    $5,\n    $6,\n    'aguardando_ia',\n    $7,\n    'formulario_site',\n    $8,\n    false,\n    NOW(),\n    NOW()\n)\nON CONFLICT (telefone_whatsapp) DO UPDATE SET\n    updated_at = NOW(),\n    status_qualificacao = 'aguardando_ia',\n    atendido = false;",
        "options": {
          "queryReplacement": "={{ $json.nome }},{{ $json.telefone_whatsapp }},{{ $json.condicao_medica }},{{ $json.gestante_lactante }},{{ $json.historico_tireoide }},{{ $json.uso_anterior_glp1 }},{{ $json.dosagem_interesse }},{{ $json.observacoes }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        416,
        80
      ],
      "id": "8f5262f1-add1-41bf-912f-1d9b3cc2dc04",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "cdb7mHNUiWEkaZJ7",
          "name": "LF@GMAIL - Testes"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "    {\n      \"status\": \"sucesso\",\n      \"mensagem\": \"Dados recebidos e salvos com segurança.\"\n    }",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        688,
        80
      ],
      "id": "8579f413-bc18-4613-a7ec-532d207c25b8",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolution3.procexai.tech/message/sendText/lucia",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "apikey",
              "value": "=905CB4736A03-4EDF-853E-CD0A0694C13B"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('config').item.json.telefone_whatsapp }}"
            },
            {
              "name": "text",
              "value": "=Teste"
            },
            {
              "name": "linkPreview",
              "value": "={{ false }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "b7cd173b-bf5c-4b82-aaed-acfb7764c1ad",
      "name": "sendText",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        912,
        80
      ],
      "alwaysOutputData": false,
      "retryOnFail": true
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "config": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "sendText",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sendText": {
      "main": [
        []
      ]
    }
  },
  "pinData": {
    "Webhook": [
      {
        "headers": {
          "host": "webh.procexai.tech",
          "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36",
          "content-length": "300",
          "accept": "*/*",
          "accept-encoding": "gzip, deflate, br, zstd",
          "accept-language": "en-US,en;q=0.9,pt;q=0.8",
          "content-type": "text/plain",
          "origin": "http://localhost:3000",
          "priority": "u=1, i",
          "referer": "http://localhost:3000/",
          "sec-ch-ua": "\"Chromium\";v=\"142\", \"Google Chrome\";v=\"142\", \"Not_A Brand\";v=\"99\"",
          "sec-ch-ua-mobile": "?0",
          "sec-ch-ua-platform": "\"Windows\"",
          "sec-fetch-dest": "empty",
          "sec-fetch-mode": "no-cors",
          "sec-fetch-site": "cross-site",
          "x-forwarded-for": "10.0.0.2",
          "x-forwarded-host": "webh.procexai.tech",
          "x-forwarded-port": "443",
          "x-forwarded-proto": "https",
          "x-forwarded-server": "665db1a63cc6",
          "x-real-ip": "10.0.0.2"
        },
        "params": {},
        "query": {},
        "body": "{\"nome\":\"rafael\",\"telefone_whatsapp\":\"5519983382045\",\"condicao_medica\":\"Avaliação Peso/Altura\",\"gestante_lactante\":false,\"historico_tireoide\":false,\"uso_anterior_glp1\":false,\"dosagem_interesse\":null,\"origem\":\"site_formulario\",\"observacoes\":\"Peso: 90kg, Altura: 190cm, Histórico Pancreatite: Não\"}",
        "webhookUrl": "https://webh.procexai.tech/webhook/TizerpaLife-Formulario",
        "executionMode": "production"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2fecef58d6bf43cf9041f65ddaf87c0c9a49f94544940cb5ccf72b8259d7a6cd"
  }
}