docs/workflows/site.json
{
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "09db48f1-b99e-4760-8a9b-10944a1ce0d2",
              "name": "texto",
              "value": "={{ $('Webhook').item.json.body.data.message.extendedTextMessage?.text ?? $('Webhook').item.json.body.data.message.conversation }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "03cedec5-8b6e-4f27-8cad-8db222892a96",
      "name": "edit2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        1168
      ]
    },
    {
      "parameters": {
        "amount": 1
      },
      "id": "a4b273ec-aba2-497e-bfb5-af3df4ea1fb4",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1488,
        752
      ],
      "webhookId": "e41c93ee-a926-43db-a345-700f4c59ee63"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "mensagem",
        "key": "={{ $('config').item.json.remoteJid }}",
        "options": {}
      },
      "id": "c1785313-bbac-43dc-be4c-443fa2f560cb",
      "name": "Puxar as Mensagens",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1648,
        752
      ],
      "credentials": {
        "redis": {
          "id": "KsFe08lVHiyqdZgr",
          "name": "TirzepaLife - Site"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "9e9b4155-e399-4936-a5db-2d79c8cb871f",
              "leftValue": "={{ $json.mensagem.last() }}",
              "rightValue": "={{ $('mensagem_cliente_inicial').item.json.texto }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "fdd2abdf-161f-43dd-a47e-54b9e88af790",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1808,
        752
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('config').item.json.remoteJid }}"
      },
      "id": "e8deff34-6afe-4add-a098-97d2a2e001bb",
      "name": "Redis",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2176,
        736
      ],
      "credentials": {
        "redis": {
          "id": "KsFe08lVHiyqdZgr",
          "name": "TirzepaLife - Site"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('config').item.json.remoteJid }}",
        "messageData": "={{ $json.texto }}",
        "tail": true
      },
      "id": "9bf94ca1-e796-45a4-8df6-2f6a4b720f94",
      "name": "Lista Mensagens1",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1328,
        752
      ],
      "credentials": {
        "redis": {
          "id": "KsFe08lVHiyqdZgr",
          "name": "TirzepaLife - Site"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bce70488-3d4e-412d-9c28-4858906bc722",
              "name": "texto",
              "value": "={{ $('Puxar as Mensagens').item.json.mensagem.join('\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "3058c01c-47bc-4352-b841-a600c2bd3274",
      "name": "Edit Fields2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1984,
        736
      ]
    },
    {
      "parameters": {
        "content": "## Buffer Redis - Mensagem picotada",
        "height": 80,
        "width": 875,
        "color": 3
      },
      "id": "6b7bd02b-f729-4927-ad54-e9c2e0c64dc5",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1264,
        576
      ]
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {}
      },
      "id": "51e01e2c-0869-4b3a-99c9-61f5427e33bf",
      "name": "Convert to File1",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        624,
        752
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f553042c-39d5-4bdd-8082-fbd390726fcd",
              "name": "base64",
              "value": "={{ $(\"Webhook\").item.json.body.data.message.base64 }}",
              "type": "string"
            },
            {
              "id": "99bfd97a-4868-47ad-bba4-54b3ff1df3bf",
              "name": "prompt",
              "value": "={{ $('Webhook').item.json.body.data.message?.imageMessage?.caption || \"Extraia todo o texto desta imagem. Apenas retorne o texto extraido.\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d4033158-25d1-4771-9aea-1502176c1f2d",
      "name": "base",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        752
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e1fdbe70-0c0e-46a1-accd-a79f4fd17098",
              "name": "texto",
              "value": "={{ $('base').item.json.prompt }}: {{ $json.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d4a7cdaa-9cd8-4dd7-a672-7cf39b7c53ad",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        912,
        752
      ]
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "={{ $('base').item.json.prompt }}",
        "inputType": "base64",
        "options": {}
      },
      "id": "1008ecbb-b972-4b7c-8d6d-b0989c8683e5",
      "name": "OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        768,
        752
      ],
      "credentials": {
        "openAiApi": {
          "id": "tl4tpHLIujOLXC8p",
          "name": "ProceX AI - Interno"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "91ee1ece-f423-45ee-b628-906df8a36da4",
              "name": "remoteJid",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "c9ed0236-5ff7-4663-8d4e-596ff3738a75",
              "name": "id",
              "value": "={{ $json.body.data.key.id }}",
              "type": "string"
            },
            {
              "id": "e132ceaf-3444-4552-b3e8-ba0b0471d34f",
              "name": "mensagem",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "dec05903-a892-41ee-a327-8e47b381b2ab",
              "name": "messageType",
              "value": "={{ $json.body.data.messageType }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1312,
        640
      ],
      "id": "d59e45c6-8cab-4088-aaa0-f7c8b4298d77",
      "name": "config"
    },
    {
      "parameters": {
        "content": "## Configuração",
        "height": 220,
        "width": 170
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1712,
        656
      ],
      "id": "955446cf-238a-4bc6-a917-419ccca64fec",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "465ce541-a4d5-49cd-85ec-58e5449492cb",
              "name": "texto",
              "value": "={{ $json.texto }}",
              "type": "string"
            },
            {
              "id": "0555c824-bc2b-472b-a4c6-7b48bfc5cdec",
              "name": "id",
              "value": "={{ $('config').item.json.id }}",
              "type": "string"
            },
            {
              "id": "6a0af011-bcb7-4ff0-b1d7-4bb28260a85f",
              "name": "numeroCliente",
              "value": "={{ $('config').item.json.remoteJid }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2800,
        608
      ],
      "id": "ab60b4d9-0ff9-4c79-ac71-e166f2e0fa37",
      "name": "mensagem_cliente"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "60d6b895-fea6-4d7f-932a-b8771c97242e",
              "name": "texto",
              "value": "={{ $json.texto || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d1826b3e-12d9-4cc4-a41b-75aaaa20fbb1",
      "name": "mensagem_cliente_inicial",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1136,
        752
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "2b6e2d76-c1e8-4639-b910-adb228cd6289"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4a719a6f-b912-48ec-81a5-920afde042b6",
                    "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "imagem"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "50c6e2b0-2494-4780-abd8-84a0e4213091",
                    "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "321a77de-69a3-4242-9172-c384f5bb931e",
                    "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                    "rightValue": "extendedTextMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "texto2"
            }
          ]
        },
        "options": {}
      },
      "id": "c363b68f-9f6f-4ac1-bda3-5e827cabc4bc",
      "name": "mensagem_tipo",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -656,
        768
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Webhook').item.json.body.server_url }}/chat/getBase64FromMediaMessage/{{ $('Webhook').item.json.body.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Webhook').item.json.body.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": {\n    \"key\": {\n      \"id\": \"{{ $('Webhook').item.json.body.data.key.id }}\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        96,
        448
      ],
      "id": "478ffa03-8a07-4a4a-bd6b-f6ae0acefb4a",
      "name": "Baixar Áudio da URL"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/audio/transcriptions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('config').item.json.groqApiKey }}"
            },
            {
              "name": "Content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "whisper-large-v3"
            },
            {
              "name": "temperature",
              "value": "0"
            },
            {
              "name": "response_format",
              "value": "json"
            },
            {
              "name": "language",
              "value": "pt"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "c4e1921d-df82-4a69-bc50-1643c8356bce",
      "name": "Whisper2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        544,
        448
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7066ff08-1370-464f-a588-86aa37025523",
              "name": "texto",
              "value": "={{ $json.message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "6b09ba48-c761-42cd-bbf3-250f1b0b2add",
      "name": "edit",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        992,
        448
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        304,
        448
      ],
      "id": "e4ef2ed3-807c-473a-949d-1358d3c2443d",
      "name": "Convert to File2"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.text }}"
            },
            {
              "content": "=Você é um agente de limpeza de transcrição. Sua única função é receber uma transcrição de áudio e organizá-la.\n\nSeu objetivo é tornar a solicitação mais clara, organizada e objetiva, mantendo **100% do conteúdo original** e sem adicionar informações novas.\n\nAjuste a pontuação, corrija pequenos erros de transcrição e remova repetições ou vícios de linguagem que são comuns na fala.\n\nA sua saída deve conter **apenas a transcrição limpa**. Não adicione saudações, frases como \"entendi sua solicitação\", \"aqui está a transcrição organizada\" ou qualquer tipo de metadado.\n\nA saída deve ser uma transcrição única, coesa e pronta para ser processada por outros agentes."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        672,
        448
      ],
      "id": "3efcc6ce-a612-4ad1-a1d9-ac454e0afee8",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "tl4tpHLIujOLXC8p",
          "name": "ProceX AI - Interno"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "TizerpaLife",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1664,
        736
      ],
      "id": "8644c561-df69-45f6-815e-78cb18b172b5",
      "name": "Webhook",
      "webhookId": "491975ba-0c77-445e-b54c-cf6c648e7b29"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.texto }}",
        "options": {
          "systemMessage": "=# Identidade\nVocê é a Dra. Ana, consultora de saúde da TirzepaLife, especialista em tratamentos com Tirzepatida (Mounjaro).\nVocê é a primeira linha de contato para interessados.\n\n# Objetivo\nAcolher visitantes, esclarecer dúvidas gerais sobre o tratamento e **converter** interessados em leads qualificados para encaminhamento ao especialista via WhatsApp.\n\nPrioridade (ordem):\n1) Ajudar a pessoa a entender se “faz sentido” conversar com um especialista (orientação geral, sem diagnóstico)\n2) Fazer triagem rápida (contraindicações básicas) com o mínimo de mensagens\n3) **Gerar avanço claro**: pedir **nome** e **WhatsApp com DDD** (com consentimento) para encaminhar ao especialista\n4) Registrar os dados no sistema (tool)\n\nResponsabilidades:\n- Responder dúvidas de forma clara e acessível\n- Fazer triagem inicial com o mínimo de mensagens (contraindicações básicas)\n- Qualificar interesse e prontidão (ex.: objetivo, urgência, experiência prévia)\n- **Conduzir para o próximo passo (WhatsApp)** sem ser insistente\n- Coletar nome e telefone para contato via WhatsApp (com consentimento)\n- Registrar os dados coletados no sistema\n\n# Tom de Comunicação\n- Acolhedora e empática\n- Informativa, sem jargões\n- Consultiva (pergunte antes de concluir)\n- Ética (sem promessas, sem diagnóstico)\n- Confiante e orientada a decisão: ajude a pessoa a escolher o **próximo passo**\n\n# Mentalidade de Conversão (ética)\nVocê não “vende preço”. Você **vende clareza e próximo passo**.\n\nRegras práticas:\n- Trate cada mensagem como uma micro-decisão: entender → se sentir segura → aceitar ser encaminhada → enviar nome/WhatsApp.\n- Faça perguntas curtas de múltipla escolha quando possível (reduz atrito).\n- Sempre termine com **1 pergunta/CTA** (apenas uma).\n- Mostre benefícios de forma responsável: “pode ajudar”, “quando indicado”, “com acompanhamento”.\n- Se a pessoa pedir preço, descontos ou dose: **não informe**. Direcione para o especialista e colete contato.\n\n## Formatação da resposta (n8n / WhatsApp)\n- Sempre escreva em **blocos curtos** e **pule linhas** entre eles (parágrafo em branco).\n- Separe os blocos usando **duas quebras de linha**.\n- Quando precisar garantir a quebra de linha em integrações que não preservam enter, use o marcador **literal** `\\n` (ou `/n`, se o seu fluxo estiver configurado assim) no lugar do “enter”.\n  - Exemplo de 3 blocos: `Bloco 1...\\n\\nBloco 2...\\n\\nBloco 3...`\n- Evite textos “tudo em uma linha”. Prefira 1–2 frases por bloco.\n\n## Estrutura (Pirâmide)\n1) Bloco 1 (gancho): 1–2 linhas\n2) Bloco 2 (contexto): 2–4 linhas\n3) Bloco 3 (ação): 1–2 linhas (pergunta/CTA)\n\n# Conteúdo - Visão geral do produto\n- Mounjaro (tirzepatida) é um medicamento usado no manejo de peso e metabolismo, com indicação e acompanhamento profissional.\n- Aplicação semanal via caneta injetável.\n- Pode ajudar na saciedade e no controle do apetite quando indicado por um profissional.\n\nEfeitos colaterais comuns (geral): náusea, constipação ou diarreia, mais comuns no início.\n\nContraindicações importantes:\n- Gestantes e lactantes\n- Histórico pessoal/familiar de câncer medular de tireoide\n- Neoplasia endócrina múltipla tipo 2 (NEM2)\n\n# Se houver contraindicação (encerrar com segurança)\nSe a pessoa responder “sim” para gestante/lactante, câncer medular de tireoide ou NEM2:\n- Seja acolhedora, explique que **por segurança** você não pode seguir com orientação do tratamento\n- Oriente a procurar atendimento médico\n- **Não prossiga** com qualificação/encaminhamento\n\nModelo (3 blocos):\nBloco 1: “Obrigada por me contar — sinto muito por isso e entendo sua preocupação.”\n\nBloco 2: “Por segurança, com esse histórico eu não consigo seguir com orientações sobre esse tratamento por aqui.”\n\nBloco 3: “O ideal é conversar com seu médico/endócrino pra uma avaliação personalizada. Se quiser, posso te ajudar com dúvidas gerais sobre hábitos/rotina.”\n\n# Perguntas de Qualificação (rápidas e vendáveis)\nObjetivo: entender encaixe e aumentar comprometimento sem “interrogatório”.\n\nUse este roteiro (máximo 3 perguntas por vez):\n1) Objetivo: “Seu foco é mais emagrecimento, controle de apetite, ou controle metabólico?”\n2) Contexto: “Você já usou algum GLP-1 (Ozempic/Saxenda/Wegovy) antes? (sim/não)”\n3) Segurança (triagem mínima):\n   - “Você está grávida ou amamentando? (sim/não)”\n   - “Tem histórico pessoal/familiar de câncer medular de tireoide ou NEM2? (sim/não)”\n4) Prontidão: “Você quer só tirar dúvidas ou já quer falar com o especialista e ver os próximos passos?”\n\n# Encaminhamento para WhatsApp (CTA principal)\nQuando a pessoa demonstrar interesse (ou pedir preço/dose), conduza assim:\n- Explique o porquê: “pra te orientar com segurança e de forma personalizada”\n- Peça consentimento\n- Solicite dados em 1 linha: nome + WhatsApp com DDD\n\nModelo (3 blocos):\nBloco 1: “Perfeito — pelo que você me contou, faz sentido conversar com o especialista.”\n\nBloco 2: “Lá ele consegue entender seu caso com mais detalhe e te orientar nos próximos passos (sem promessas e com segurança).”\n\nBloco 3: “Posso te encaminhar? Me diga seu **nome** e seu **WhatsApp com DDD**.”\n\n# Ferramenta\nTool: toolAtualizarDadosCliente\nQuando usar: SOMENTE após coletar **nome** E **telefone_whatsapp** do cliente.\nObrigatórios:\n- nome\n- telefone_whatsapp (DDD + número, ex: 11999998888)\nOpcionais (se obtidos): condicao_medica, gestante_lactante, historico_tireoide, uso_anterior_glp1, dosagem_interesse.\n\n⚠️ NÃO use a ferramenta sem nome e telefone.\n\n# Restrições\nNUNCA:\n- Dar diagnóstico ou indicar dose específica\n- Prometer resultados\n- Informar preços\n- Pressionar por dados\n- Continuar atendimento se gestante/lactante ou contraindicação grave\n\nSEMPRE:\n- Ser empática\n- Pedir consentimento antes de encaminhar\n\n# Fluxo de conversa (ATUALIZADO)\n\n## Com Formulário de Qualificação (padrão atual)\n1) `__start__` → Workflow retorna greeting + formulário de qualificação\n2) Usuário preenche → Workflow valida bloqueadores\n3) **SE DESQUALIFICADO**: Workflow envia mensagem e encerra (você NÃO participa)\n4) **SE QUALIFICADO**: Workflow envia confirmação + pergunta de intenção\n5) Você recebe próxima mensagem do usuário (dúvida ou próximos passos)\n6) Coleta nome (1 turno)\n7) Coleta WhatsApp com DDD (1 turno)\n8) Registra com tool\n9) Confirma encaminhamento\n\n## Retomada (`__resume__`)\n- Não repita saudação\n- Não repita perguntas de qualificação\n- Retome do próximo passo necessário\n\n# Integração com Formulário de Qualificação Inicial\n\nO chat coleta informações de elegibilidade **logo no início** via Form Card (`qualificacao_inicial`).\n\n## Campos coletados:\n- `gestante_lactante`: sim | nao (BLOQUEADOR se \"sim\")\n- `historico_tireoide`: sim | nao | nao_sei (BLOQUEADOR se \"sim\", WARNING se \"nao_sei\")\n- `uso_anterior_glp1`: ozempic | saxenda | wegovy | outro | nao (contexto)\n- `objetivo`: emagrecimento | apetite | metabolico | saude (contexto)\n\n## Regras CRÍTICAS:\n\n### Após o formulário ser preenchido\nQuando o usuário envia mensagens APÓS preencher o questionário:\n\n**NÃO REPITA as 4 perguntas de qualificação**\n- ❌ \"Você está grávida?\" (já foi respondido)\n- ❌ \"Já usou Ozempic?\" (já foi respondido)\n- ❌ \"Qual seu objetivo?\" (já foi respondido)\n- ❌ \"Histórico de tireoide?\" (já foi respondido)\n\n**VOCÊ PODE assumir que:**\n- A triagem de bloqueadores já foi feita pelo workflow\n- Se você está recebendo a mensagem, significa que o cliente foi QUALIFICADO\n- As respostas estão disponíveis se você receber `client_context.qualificacao`\n\n### Fluxo após qualificação aprovada\n\n1. **Contextualize** baseado no objetivo se disponível\n2. **Se `uso_anterior_glp1` != \"nao\"**: Mencione experiência prévia naturalmente\n3. **Vá direto para micro-decisão**: \"Quer tirar dúvida ou já quer próximos passos?\"\n4. **Colete dados**: Nome e WhatsApp com DDD (1 por vez)\n5. **Registre** com `toolAtualizarDadosCliente`\n\n### Se `historico_tireoide = \"nao_sei\"`\n- Trate como ALERTA (não bloqueador)\n- Reforce necessidade de verificar com médico\n- Pode encaminhar ao especialista com ressalva\n\n### Não faça triagem novamente\nA validação de bloqueadores já foi feita. Seu papel é:\n1. Responder dúvidas\n2. Coletar nome + WhatsApp\n3. Encaminhar para especialista\n\n# Integração com o Chat do Site (Form Card)\nO chat do site pode coletar a triagem em um **cartão de formulário** (Form Card) e enviar as respostas já estruturadas.\n\nVocê pode receber isso de duas formas:\n- **Texto canônico** no formato `Triagem (form_card): ...` (isso significa que as respostas já foram preenchidas no formulário)\n- Ou um resumo equivalente enviado pelo usuário (ex.: “Respondi a triagem ✅”)\n\n## Regra crítica (UX)\nSe você identificar que a triagem já veio do Form Card, **NÃO repita as 4 perguntas**.\nEm vez disso, siga direto com:\n1) Segurança (encerrar se contraindicado)\n2) Próximo passo (pedir nome + WhatsApp com DDD) **em uma única pergunta**\n\n## Contexto estruturado (client_context)\nEm algumas integrações do chat do site, você pode receber um objeto `client_context` com:\n- `triage_completed`: se a triagem já foi concluída no site\n- `triage`: respostas estruturadas (`goal`, `used_glp1`, `pregnant_lactating`, `thyroid_history`)\n- `last_messages`: últimos turnos (para você **retomar o fio** sem repetir)\n\nUse isso como “memória curta” para manter coerência e **guiar ao WhatsApp** com o mínimo de mensagens.\n\n## Retomada do chat (evento `__resume__`)\nSe a mensagem recebida for `__resume__`, interprete como: “o usuário reabriu o chat e quer continuar do ponto em que parou”.\n\nRegras:\n- Não faça uma nova saudação longa.\n- Não repita triagem se `triage_completed=true` ou se a triagem já estiver presente.\n- Retome com **a próxima micro-decisão** do funil (1 CTA):\n  - Se ainda falta intenção: pergunte “Você quer comprar agora ou prefere tirar uma dúvida antes?”\n  - Se falta WhatsApp: peça “WhatsApp com DDD (somente números)”.\n  - Se falta nome: peça “Qual é o seu nome?”\n\n## Como usar “já usou Ozempic/GLP-1” para ter um norte\nUse `used_glp1` para personalizar o próximo passo sem “interrogatório”:\n- Se `used_glp1=sim`: valide a experiência e alinhe expectativa (“posso te orientar com mais segurança no WhatsApp com o especialista”), depois faça o CTA.\n- Se `used_glp1=nao`: dê 1 linha de contexto (“posso explicar rapidamente e te encaminhar”), depois faça o CTA.\n\n## Regra crítica (1 CTA por vez)\nPara melhorar a conversão no chat do site:\n- **NUNCA** envie listas numeradas de solicitações (ex.: “1) nome 2) WhatsApp 3) ...”).\n- **NUNCA** peça 2+ dados no mesmo turno.\n- Sempre termine com **1 pergunta** curta.\n\n## Como interpretar o Form Card (padrão)\nCampos esperados no texto canônico:\n- `goal`: emagrecimento | apetite | metabolico\n- `used_glp1`: sim | nao\n- `pregnant_lactating`: sim | nao\n- `thyroid_history`: sim | nao | nao_sei\n\n## Segurança imediata (se veio do Form Card)\n- Se `pregnant_lactating=sim` **OU** `thyroid_history=sim`: aplique o bloco de contraindicação e **não avance** para encaminhamento/compra.\n- Se `thyroid_history=nao_sei`: trate como risco — oriente com cautela e recomende avaliação médica antes de qualquer próximo passo. Você pode oferecer encaminhar ao especialista para triagem mais detalhada, mas sem prometer.\n\n## Próximo passo (se elegível)\nApós a triagem do Form Card indicar elegibilidade:\n- Faça 1 bloco curto confirmando que faz sentido falar com especialista\n- E feche com 1 CTA (micro-decisão): “Você quer **comprar agora** ou prefere **tirar uma dúvida** antes?”\n\nSe a pessoa disser que quer comprar:\n- Peça **apenas** o WhatsApp com DDD (somente números).\n\nDepois do WhatsApp:\n- Peça **apenas** o nome (pode ser só o primeiro nome).\n\n# Respostas curtas (modelo M3M)\n- Quanto custa?\nResponda que o especialista confirma valores e detalhes pelo WhatsApp e peça nome/DDD.\n\n- Efeitos colaterais?\nDiga os mais comuns e pergunte se a pessoa tem sensibilidade gástrica.\n\n- É melhor que Ozempic?\nCompare com cautela e sem prometer: explique que a tirzepatida atua em dois alvos (GIP/GLP-1) e que a escolha depende do perfil e acompanhamento.\n\n# Biblioteca de Objeções (site → WhatsApp)\nUse respostas curtas e feche com 1 CTA.\n\n- “Tenho medo de efeitos colaterais”\nExplique que são mais comuns no início e variam; reforce acompanhamento; pergunte se tem histórico gástrico e se quer falar com o especialista.\n\n- “Tenho receio de agulha”\nDiga que é caneta semanal e muita gente se adapta; ofereça orientação do especialista.\n\n- “Quero só saber o preço”\n“Eu entendo. Por aqui eu não passo valores, mas o especialista confirma rapidinho no WhatsApp e já te orienta certinho.”\n“Posso te encaminhar? Me diga seu nome e WhatsApp com DDD.”",
          "returnIntermediateSteps": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        3008,
        608
      ],
      "id": "3eb8ad6d-6af4-4284-8574-89450f53abf6",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-v3.2",
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2880,
        816
      ],
      "id": "06a7c565-b987-494e-8bf9-2271d555b2ea",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "ssrtde89Aai4EcNA",
          "name": "Ticket Imediato"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('mensagem_cliente').item.json.numeroCliente }}",
        "tableName": "=langchain_chat_histories"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        3024,
        816
      ],
      "id": "405a6835-df18-4111-ac73-fc52ac02910e",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "cdb7mHNUiWEkaZJ7",
          "name": "LF@GMAIL - Testes"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        5088,
        224
      ],
      "id": "b9ed1db8-7d39-435a-843b-5fe0b9e171d9",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=Utilize esta ferramenta para registrar ou atualizar dados de clientes no banco de dados após coletar informações durante a conversa de qualificação.\n\nQUANDO USAR:\n- Após coletar o número de WhatsApp do cliente\n- Quando tiver informações suficientes da triagem (mesmo que parciais)",
        "operation": "executeQuery",
        "query": "INSERT INTO public.clientes (\n    nome,\n    telefone_whatsapp,\n    condicao_medica,\n    gestante_lactante,\n    historico_tireoide,\n    uso_anterior_glp1,\n    status_qualificacao,\n    dosagem_interesse,\n    origem,\n    atendido,\n    session_id,\n    created_at,\n    updated_at\n) VALUES (\n    $1, -- nome\n    $2, -- telefone_whatsapp (único)\n    $3, -- condicao_medica\n    $4, -- gestante_lactante\n    $5, -- historico_tireoide\n    $6, -- uso_anterior_glp1\n    'qualificado',\n    $7, -- dosagem_interesse\n    'formulario_site',\n    false,\n    $8, -- session_id\n    NOW(),\n    NOW()\n)\nON CONFLICT (telefone_whatsapp) DO UPDATE SET\n    updated_at = NOW(),\n    status_qualificacao = 'qualificado',\n    atendido = false,\n    session_id = EXCLUDED.session_id;\n",
        "options": {
          "queryReplacement": "={{ $fromAI(\"nome\") }},\n{{ $fromAI(\"telefone_whatsapp\") }},\n{{ $fromAI(\"condicao_medica\") }},\n{{ $fromAI(\"gestante_lactante\") }},\n{{ $fromAI(\"historico_tireoide\") }},\n{{ $fromAI(\"uso_anterior_glp1\") }},\n{{ $fromAI(\"dosagem_interesse\") }},\n{{ $json.numeroCliente }}"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        3168,
        816
      ],
      "id": "42578882-d8a7-421c-a4f3-d486cb0776ad",
      "name": "toolAtualizarDadosCliente",
      "credentials": {
        "postgres": {
          "id": "cdb7mHNUiWEkaZJ7",
          "name": "LF@GMAIL - Testes"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b0050965-2b87-4265-b1bf-dc99205e1531",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3376,
        624
      ],
      "id": "6867534a-1009-4e17-9484-4ca08f9c44ac",
      "name": "Texto Envio"
    },
    {
      "parameters": {
        "fieldToSplitOut": "text",
        "options": {}
      },
      "id": "9af8987e-9f08-4c99-9e7a-e5eaa5ab67c9",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        3936,
        624
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1e66db0-00dc-481d-951c-1fde558e268e",
              "name": "text",
              "value": "={{ (() => {\n  const maxLen = 280;\n  let raw = ($json.output ?? '').toString();\n  raw = raw.replace(/\\r\\n/g, '\\n').trim();\n\n  // Corrige \"Ótimo!Tem\" -> \"Ótimo! Tem\" (e similares)\n  raw = raw.replace(/([.!?])([^\\s\\n])/g, '$1 $2');\n\n  // 1) Respeita \\n\\n (formato do agente). Se não tiver, tenta \\n. Se não tiver, usa o texto todo.\n  let parts;\n  if (raw.includes('\\n\\n')) parts = raw.split(/\\n{2,}/);\n  else if (raw.includes('\\n')) parts = raw.split(/\\n+/);\n  else parts = [raw];\n\n  parts = parts.map(p => p.trim()).filter(Boolean);\n\n  const splitSentences = (text) => text\n    .replace(/([.!?])\\s+/g, '$1|')\n    .split('|')\n    .map(t => t.trim())\n    .filter(Boolean);\n\n  const chunkByWords = (text) => {\n    const words = text.split(/\\s+/).filter(Boolean);\n    const out = [];\n    let buf = '';\n    for (const w of words) {\n      const next = buf ? `${buf} ${w}` : w;\n      if (next.length > maxLen) {\n        if (buf) out.push(buf);\n        if (w.length > maxLen) {\n          for (let i = 0; i < w.length; i += maxLen) out.push(w.slice(i, i + maxLen));\n          buf = '';\n        } else {\n          buf = w;\n        }\n      } else {\n        buf = next;\n      }\n    }\n    if (buf) out.push(buf);\n    return out;\n  };\n\n  const out = [];\n\n  const pushChunked = (text) => {\n    if (!text) return;\n    if (text.length <= maxLen) {\n      out.push(text);\n      return;\n    }\n\n    const sentences = splitSentences(text);\n    if (sentences.length <= 1) {\n      chunkByWords(text).forEach(x => out.push(x));\n      return;\n    }\n\n    let buf = '';\n    for (const s of sentences) {\n      const next = buf ? `${buf} ${s}` : s;\n      if (next.length > maxLen) {\n        if (buf) out.push(buf);\n        if (s.length > maxLen) chunkByWords(s).forEach(x => out.push(x));\n        else buf = s;\n      } else {\n        buf = next;\n      }\n    }\n    if (buf) out.push(buf);\n  };\n\n  // Se veio tudo em 1 bloco grande, tenta quebrar por frases (melhora consistência)\n  if (parts.length === 1 && parts[0].length > 80) {\n    pushChunked(parts[0]);\n  } else {\n    parts.forEach(p => pushChunked(p));\n  }\n\n  return out.map(x => x.trim()).filter(Boolean);\n})() }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "769a92c7-afad-4710-a24c-fd0edc2668f8",
      "name": "Quebra da Resposta",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3648,
        624
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "66e5c550-fef4-4210-935e-19be9d399211",
              "name": "delay",
              "value": "={{ Math.min(Math.max((($json.text ?? '').replace(/\\s+/g, '').length) * 50, 1500), 6000) + ($itemIndex * 2000) }}",
              "type": "number"
            },
            {
              "id": "text-field-preserve",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4192,
        624
      ],
      "id": "1de8f884-2208-4b95-ac92-9b1ad73d7529",
      "name": "Tempo Digitacao 3"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "messages",
        "include": "specifiedFields",
        "fieldsToInclude": "text,delay",
        "options": {}
      },
      "id": "98dafd10-7efe-4f1a-b63f-7f2c0dfa3a62",
      "name": "Aggregate Messages",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        4496,
        624
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mensagem }}",
                    "rightValue": "__start__",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "start"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.data.form_id }}",
                    "rightValue": "qualificacao_inicial",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "qualificacao_form"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": true,
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    },
                    "id": "2921ed2e-9651-4dda-a94d-9fdd0d0480bf"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "outros"
            }
          ]
        },
        "options": {}
      },
      "id": "2b286852-249e-4572-b89a-3becc96b035e",
      "name": "detectar_start",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1072,
        544
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1cc3d3f5-63ed-4653-b445-5c599320235b",
              "name": "messages",
              "value": "={{ [\n  { text: \"Olá! Sou a Dra. Ana, consultora da TirzepaLife 😊\", delay: 1000 },\n  { text: \"Para te orientar com segurança, preciso fazer algumas perguntas rápidas sobre sua saúde.\", delay: 1800 },\n  { text: \"São apenas 4 perguntas e leva menos de 1 minuto!\", delay: 1500 }\n] }}",
              "type": "array"
            },
            {
              "name": "ui",
              "value": {
                "type": "form_card",
                "id": "qualificacao_inicial",
                "title": "Questionário de Elegibilidade",
                "description": "Para sua segurança, preciso fazer algumas perguntas rápidas antes de prosseguir.",
                "submitLabel": "Enviar Respostas",
                "fields": [
                  {
                    "name": "gestante_lactante",
                    "label": "Você está grávida ou amamentando?",
                    "type": "single_select",
                    "required": true,
                    "options": [
                      {
                        "value": "sim",
                        "label": "Sim"
                      },
                      {
                        "value": "nao",
                        "label": "Não"
                      }
                    ]
                  },
                  {
                    "name": "historico_tireoide",
                    "label": "Você ou alguém da sua família teve câncer medular de tireoide ou NEM2?",
                    "type": "single_select",
                    "required": true,
                    "helperText": "NEM2 = Neoplasia Endócrina Múltipla tipo 2",
                    "options": [
                      {
                        "value": "sim",
                        "label": "Sim"
                      },
                      {
                        "value": "nao",
                        "label": "Não"
                      },
                      {
                        "value": "nao_sei",
                        "label": "Não sei"
                      }
                    ]
                  },
                  {
                    "name": "uso_anterior_glp1",
                    "label": "Você já usou algum medicamento similar antes?",
                    "type": "single_select",
                    "required": true,
                    "helperText": "Ex.: Ozempic, Saxenda, Wegovy, Victoza",
                    "options": [
                      {
                        "value": "ozempic",
                        "label": "Sim, Ozempic"
                      },
                      {
                        "value": "saxenda",
                        "label": "Sim, Saxenda"
                      },
                      {
                        "value": "wegovy",
                        "label": "Sim, Wegovy"
                      },
                      {
                        "value": "outro",
                        "label": "Sim, outro"
                      },
                      {
                        "value": "nao",
                        "label": "Não"
                      }
                    ]
                  },
                  {
                    "name": "objetivo",
                    "label": "Qual é o seu objetivo principal?",
                    "type": "single_select",
                    "required": true,
                    "options": [
                      {
                        "value": "emagrecimento",
                        "label": "Emagrecimento"
                      },
                      {
                        "value": "apetite",
                        "label": "Controle de apetite"
                      },
                      {
                        "value": "metabolico",
                        "label": "Controle metabólico"
                      },
                      {
                        "value": "saude",
                        "label": "Melhorar saúde geral"
                      }
                    ]
                  }
                ]
              },
              "type": "object",
              "id": "768671d7-5712-40fb-93b6-bf247293c92b"
            }
          ]
        },
        "options": {}
      },
      "id": "63b845cb-daef-4944-a80a-fa919ac05c3f",
      "name": "resposta_start_com_form",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -160,
        32
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extrai respostas do formulário\nconst form = $input.first().json.body.data.form;\nconst gestante = form.gestante_lactante === \"sim\";\nconst tireoide = form.historico_tireoide === \"sim\";\nconst tireoideDuvida = form.historico_tireoide === \"nao_sei\";\n\nlet status = \"qualificado\";\nlet tipo_bloqueio = null;\n\nif (gestante) {\n  status = \"desqualificado_gestante\";\n  tipo_bloqueio = \"gestante\";\n} else if (tireoide) {\n  status = \"desqualificado_tireoide\";\n  tipo_bloqueio = \"tireoide\";\n} else if (tireoideDuvida) {\n  status = \"alerta_tireoide_incerto\";\n  tipo_bloqueio = null;\n}\n\nreturn [{\n  json: {\n    gestante_lactante: gestante,\n    historico_tireoide: tireoide,\n    historico_tireoide_incerto: tireoideDuvida,\n    uso_anterior_glp1: form.uso_anterior_glp1 !== \"nao\",\n    objetivo: form.objetivo,\n    status_validacao: status,\n    tipo_bloqueio: tipo_bloqueio,\n    desqualificado: status.startsWith(\"desqualificado\"),\n    form_original: form,\n    remoteJid: $input.first().json.body.data.key.remoteJid\n  }\n}];"
      },
      "id": "5b2a9915-4693-474e-8ae4-af35706c3945",
      "name": "validar_bloqueadores",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -656,
        608
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.desqualificado }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "desqualificado"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.desqualificado }}",
                    "rightValue": false,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "qualificado"
            }
          ]
        },
        "options": {}
      },
      "id": "971110ae-b22b-4579-8ead-855c95cce1b0",
      "name": "switch_desqualificado",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -80,
        784
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "messages",
              "value": "={{ (() => {\n  const tipo = $json.tipo_bloqueio;\n  \n  if (tipo === 'gestante') {\n    return [\n      { text: \"Obrigada por responder com sinceridade 💙\", delay: 1200 },\n      { text: \"Por segurança, a Tirzepatida não é recomendada durante a gestação ou amamentação, pois ainda não há estudos suficientes sobre possíveis efeitos.\", delay: 2500 },\n      { text: \"O ideal é conversar com seu obstetra para avaliar alternativas seguras nesse momento. Se quiser, posso te ajudar com dúvidas sobre alimentação e hábitos saudáveis!\", delay: 2200 }\n    ];\n  }\n  \n  if (tipo === 'tireoide') {\n    return [\n      { text: \"Obrigada por compartilhar isso comigo 💙\", delay: 1200 },\n      { text: \"Por precaução médica, quando há histórico pessoal ou familiar de câncer medular de tireoide ou NEM2, a Tirzepatida não é recomendada.\", delay: 2800 },\n      { text: \"Sugiro que você consulte um endocrinologista para uma avaliação personalizada e segura. Se tiver outras dúvidas sobre saúde metabólica, estou aqui!\", delay: 2400 }\n    ];\n  }\n  \n  return [\n    { text: \"Obrigada por responder 💙\", delay: 1000 },\n    { text: \"Por segurança, preciso que você converse com um médico antes de prosseguir.\", delay: 2000 }\n  ];\n})() }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "6681307f-7051-45d4-a6da-f3e47c6498f4",
      "name": "mensagem_desqualificacao",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        96,
        624
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "messages",
              "value": "={{ (() => {\n  const tireoideDuvida = $json.historico_tireoide_incerto === true;\n  \n  if (tireoideDuvida) {\n    return [\n      { text: \"Obrigada pelas respostas! 😊\", delay: 1200 },\n      { text: \"Sobre o histórico de tireoide: como você não tem certeza, recomendo verificar isso com seu médico antes de começar qualquer tratamento, ok?\", delay: 2500 },\n      { text: \"Mas posso te encaminhar ao nosso especialista para tirar dúvidas e entender se faz sentido pra você.\", delay: 2000 },\n      { text: \"Você quer tirar uma dúvida rápida ou prefere já conversar sobre os próximos passos?\", delay: 1800 }\n    ];\n  }\n  \n  return [\n    { text: \"Perfeito! Obrigada pelas respostas 😊\", delay: 1200 },\n    { text: \"Pelo que você me contou, faz sentido conversarmos mais sobre o tratamento.\", delay: 1800 },\n    { text: \"Você quer tirar uma dúvida rápida ou prefere já falar sobre os próximos passos?\", delay: 1600 }\n  ];\n})() }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "7d602e20-8ee6-4fee-9c2e-ea657aaa1a1f",
      "name": "mensagem_qualificado",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        96,
        928
      ]
    }
  ],
  "connections": {
    "edit2": {
      "main": [
        [
          {
            "node": "mensagem_cliente_inicial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Puxar as Mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Puxar as Mensagens": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "mensagem_cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lista Mensagens1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "base": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "mensagem_cliente_inicial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "config": {
      "main": [
        [
          {
            "node": "detectar_start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mensagem_cliente": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mensagem_cliente_inicial": {
      "main": [
        [
          {
            "node": "Lista Mensagens1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mensagem_tipo": {
      "main": [
        [
          {
            "node": "Baixar Áudio da URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "base",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "edit2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "edit2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixar Áudio da URL": {
      "main": [
        [
          {
            "node": "Convert to File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whisper2": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "edit": {
      "main": [
        [
          {
            "node": "mensagem_cliente_inicial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File2": {
      "main": [
        [
          {
            "node": "Whisper2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "edit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Texto Envio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "toolAtualizarDadosCliente": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Texto Envio": {
      "main": [
        [
          {
            "node": "Quebra da Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Tempo Digitacao 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quebra da Resposta": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tempo Digitacao 3": {
      "main": [
        [
          {
            "node": "Aggregate Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Messages": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "detectar_start": {
      "main": [
        [
          {
            "node": "resposta_start_com_form",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "validar_bloqueadores",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "mensagem_tipo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "resposta_start_com_form": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "validar_bloqueadores": {
      "main": [
        [
          {
            "node": "switch_desqualificado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "switch_desqualificado": {
      "main": [
        [
          {
            "node": "mensagem_desqualificacao",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "mensagem_qualificado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mensagem_desqualificacao": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mensagem_qualificado": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Webhook": [
      {
        "headers": {
          "host": "webh.procexai.tech",
          "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36",
          "content-length": "522",
          "accept": "*/*",
          "accept-encoding": "gzip, deflate, br, zstd",
          "accept-language": "en-US,en;q=0.9,pt;q=0.8",
          "content-type": "application/json",
          "origin": "https://tirzepalife-lp-v2.vercel.app",
          "priority": "u=1, i",
          "referer": "https://tirzepalife-lp-v2.vercel.app/",
          "sec-ch-ua": "\"Google Chrome\";v=\"143\", \"Chromium\";v=\"143\", \"Not A(Brand\";v=\"24\"",
          "sec-ch-ua-mobile": "?0",
          "sec-ch-ua-platform": "\"Windows\"",
          "sec-fetch-dest": "empty",
          "sec-fetch-mode": "cors",
          "sec-fetch-site": "cross-site",
          "x-forwarded-for": "10.0.0.2",
          "x-forwarded-host": "webh.procexai.tech",
          "x-forwarded-port": "443",
          "x-forwarded-proto": "https",
          "x-forwarded-server": "d8cb359c9c09",
          "x-real-ip": "10.0.0.2"
        },
        "params": {},
        "query": {},
        "body": {
          "data": {
            "key": {
              "remoteJid": "web_303534850@s.whatsapp.net",
              "fromMe": false,
              "id": "start_1766536386028"
            },
            "pushName": "Visitante Web",
            "message": {
              "conversation": "__start__"
            },
            "messageType": "conversation",
            "messageTimestamp": 1766536386,
            "instanceId": "web-client-integration",
            "source": "web",
            "client_context": {
              "session_id": "web_303534850",
              "triage_completed": false,
              "triage": null,
              "last_messages": [],
              "page": {
                "path": "/",
                "url": "https://tirzepalife-lp-v2.vercel.app/"
              },
              "timestamp_ms": 1766536386028
            }
          },
          "sender": "web_303534850@s.whatsapp.net"
        },
        "webhookUrl": "https://webh.procexai.tech/webhook/TizerpaLife",
        "executionMode": "production"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2fecef58d6bf43cf9041f65ddaf87c0c9a49f94544940cb5ccf72b8259d7a6cd"
  }
}