docs/workflows/whatsapp.json
{
    "nodes": [
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "91ee1ece-f423-45ee-b628-906df8a36da4",
                            "name": "telefone_whatsapp",
                            "value": "={{ $('Postgres Trigger').item.json.payload.telefone_whatsapp }}",
                            "type": "string"
                        },
                        {
                            "id": "c9ed0236-5ff7-4663-8d4e-596ff3738a75",
                            "name": "session_id",
                            "value": "={{ $('Postgres Trigger').item.json.payload.id }}",
                            "type": "string"
                        },
                        {
                            "id": "b55c1f3c-8765-4552-8b31-77e848e5a476",
                            "name": "nome",
                            "value": "={{ $('Postgres Trigger').item.json.payload.nome }}",
                            "type": "string"
                        },
                        {
                            "id": "eca4d2d4-df22-4420-afe9-ebb45bb34c68",
                            "name": "observacoes",
                            "value": "={{ $('Postgres Trigger').item.json.payload.observacoes }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                -464,
                480
            ],
            "id": "a88acf63-7f08-4614-b7d9-37989b1cfe91",
            "name": "config"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=observações do cliente:\n{{ $('Postgres Trigger').item.json.payload.observacoes }}",
                "options": {
                    "systemMessage": "=",
                    "returnIntermediateSteps": true
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 2.2,
            "position": [
                -192,
                480
            ],
            "id": "f336d48b-1cb9-487a-8fbb-49b88348242b",
            "name": "AI Agent"
        },
        {
            "parameters": {
                "model": "deepseek/deepseek-v3.2",
                "options": {
                    "temperature": 0.3
                }
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
            "typeVersion": 1,
            "position": [
                -304,
                656
            ],
            "id": "c358b89c-faa2-4a43-9879-2968624bf29a",
            "name": "OpenRouter Chat Model",
            "credentials": {
                "openRouterApi": {
                    "id": "ssrtde89Aai4EcNA",
                    "name": "Ticket Imediato"
                }
            }
        },
        {
            "parameters": {
                "sessionIdType": "customKey",
                "sessionKey": "={{ $json.telefone_whatsapp }}",
                "tableName": "="
            },
            "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
            "typeVersion": 1.3,
            "position": [
                -160,
                656
            ],
            "id": "534ed77b-7fa4-40c7-9b47-b4ed369f3a1c",
            "name": "Postgres Chat Memory",
            "credentials": {
                "postgres": {
                    "id": "cdb7mHNUiWEkaZJ7",
                    "name": "LF@GMAIL - Testes"
                }
            }
        },
        {
            "parameters": {
                "schema": {
                    "__rl": true,
                    "mode": "list",
                    "value": "public"
                },
                "tableName": {
                    "__rl": true,
                    "value": "clientes",
                    "mode": "list",
                    "cachedResultName": "clientes"
                },
                "additionalFields": {},
                "options": {}
            },
            "type": "n8n-nodes-base.postgresTrigger",
            "typeVersion": 1,
            "position": [
                -752,
                480
            ],
            "id": "acce909f-fea3-4414-a824-216b92b7909f",
            "name": "Postgres Trigger",
            "credentials": {
                "postgres": {
                    "id": "cdb7mHNUiWEkaZJ7",
                    "name": "LF@GMAIL - Testes"
                }
            }
        },
        {
            "parameters": {
                "fieldToSplitOut": "text",
                "options": {}
            },
            "id": "f603b485-ae44-476c-ab0f-fc27bddb3dcf",
            "name": "Split Out",
            "type": "n8n-nodes-base.splitOut",
            "typeVersion": 1,
            "position": [
                416,
                480
            ]
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "a1e66db0-00dc-481d-951c-1fde558e268e",
                            "name": "text",
                            "value": "={{ $json.output.split('\\n').filter(v => v !== '') }}",
                            "type": "array"
                        }
                    ]
                },
                "options": {}
            },
            "id": "e20e2ede-29b1-4d21-a58c-3510500b9e36",
            "name": "Quebra da Resposta",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                224,
                480
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://evolution3.procexai.tech/message/sendText/lucia",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "accept",
                            "value": "application/json, text/plain, */*"
                        },
                        {
                            "name": "apikey",
                            "value": "=905CB4736A03-4EDF-853E-CD0A0694C13B"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"number\": \"55{{ $('config').item.json.telefone_whatsapp }}\",\n  \"text\": \"{{ $json.text }}\",\n  \"delay\": 1200,\n  \"linkPreview\": false\n}",
                "options": {
                    "redirect": {
                        "redirect": {}
                    }
                }
            },
            "id": "270e3096-8488-47cd-84b6-0601d02ca350",
            "name": "sendText",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                832,
                624
            ],
            "alwaysOutputData": false,
            "retryOnFail": true
        },
        {
            "parameters": {
                "options": {}
            },
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                640,
                480
            ],
            "id": "be85c00c-6f79-4523-bd81-79fb645a0c60",
            "name": "Loop Over Items"
        },
        {
            "parameters": {},
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                992,
                624
            ],
            "id": "17881ec8-53ab-4484-8c24-b92593949bc7",
            "name": "Wait",
            "webhookId": "500ae643-7ac1-4e67-83b2-9b3d8eac3f77"
        },
        {
            "parameters": {
                "workflowId": {
                    "__rl": true,
                    "value": "1mz5ykHNG1cjXWjl",
                    "mode": "list",
                    "cachedResultUrl": "/workflow/1mz5ykHNG1cjXWjl",
                    "cachedResultName": "sub-workflow-TirzepaLife"
                },
                "workflowInputs": {
                    "mappingMode": "defineBelow",
                    "value": {},
                    "matchingColumns": [],
                    "schema": [],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                }
            },
            "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
            "typeVersion": 2.2,
            "position": [
                256,
                800
            ],
            "id": "a6ca6aca-8751-431c-bcd5-88a88bd99230",
            "name": "Call 'sub-workflow-TirzepaLife'"
        }
    ],
    "connections": {
        "config": {
            "main": [
                [
                    {
                        "node": "AI Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Agent": {
            "main": [
                [
                    {
                        "node": "Quebra da Resposta",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenRouter Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Postgres Chat Memory": {
            "ai_memory": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "Postgres Trigger": {
            "main": [
                [
                    {
                        "node": "config",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split Out": {
            "main": [
                [
                    {
                        "node": "Loop Over Items",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Quebra da Resposta": {
            "main": [
                [
                    {
                        "node": "Split Out",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "sendText": {
            "main": [
                [
                    {
                        "node": "Wait",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Loop Over Items": {
            "main": [
                [],
                [
                    {
                        "node": "sendText",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait": {
            "main": [
                [
                    {
                        "node": "Loop Over Items",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Call 'sub-workflow-TirzepaLife'": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {
        "Postgres Trigger": [
            {
                "length": 449,
                "processId": 2412885,
                "channel": "n8n_channel_acce909f_fea3_4414_a824_216b92b7909f",
                "payload": {
                    "id": 1,
                    "nome": null,
                    "telefone_whatsapp": "19983382045",
                    "condicao_medica": null,
                    "gestante_lactante": null,
                    "historico_tireoide": null,
                    "uso_anterior_glp1": null,
                    "status_qualificacao": "qualificado",
                    "dosagem_interesse": null,
                    "origem": "ads_site",
                    "observacoes": null,
                    "created_at": "2025-12-07T00:54:14.061455",
                    "updated_at": "2025-12-07T00:54:14.061455",
                    "atendido": false,
                    "atendido_em": null,
                    "session_id": null
                },
                "name": "notification"
            }
        ]
    },
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "2fecef58d6bf43cf9041f65ddaf87c0c9a49f94544940cb5ccf72b8259d7a6cd"
    }
}